<h1>New division</h1>

<form action="wizard_divide">
  <label for="home">Divide this:</label>
  <input id="home" name="first_num">

  <label for="couch">by this:</label>
  <input id="couch" name="second_num">

  <button>Divide!</button>
</form>
