<h1>New multiplication</h1>

<form action="wizard_multiply">
  <label for="delta">Multiply this:</label>
  <input id="delta" name="first_num">

  <label for="beta">by this:</label>
  <input id="beta" name="second_num">

  <button>Multiply!</button>
</form>
